
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Danh sách booking</h4>

        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                }
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead style="color:#0d6efd ">
                        <tr style="background-color: darkgrey">
                            <th>STT</th>
                            <th>Khách hàng</th>
                            <th>Phòng</th>
                            <th>Ngày đến</th>
                            <th>Ngày đi</th>
                            <th>Trạng thái</th>
                            <th>Thanh toán</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ var stt = 1;}
                        @foreach (var item in ViewBag.List)
                        {
                        <tr>
                            <td style="width:10px">@stt</td>
                            <td>
                                @item.User.fullName
                            </td>
                            <td>
                                @item.Room.name
                            </td>
                            <td>
                                @item.checkInDate
                            </td>
                            <td>
                                @item.checkOutDate
                            </td>
                            @if (item.status == 0)
                            {
                                <td>
                                    Chờ xác nhận
                                </td>
                            }
                            else if (item.status == 1)
                            {

                                <td>
                                    Đã xác nhận
                                </td>
                            }
                            else if (item.status == 3)
                            {

                                <td>
                                    Đã trả phòng
                                </td>
                            }
                            else
                            {
                                <td>
                                    Đã hủy
                                </td>
                            }
                            @if (item.isPayment)
                            {
                                <td>
                                    Đã thanh toán
                                </td>
                            }
                            else
                            {
                                <td>
                                    Chưa thanh toán
                                </td>
                            }
                            <td>
                                @{
                                    var idEx1 = "exampleModalLabel" + item.idBooking;
                                }
                                <button style="width:100px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#@idEx1">
                                    Cập nhập
                                </button>
                                <a class="btn btn-warning" href="/AdminBooking/Detail/@item.idBooking">
                                    Chi tiết
                                </a>
                            </td>
                        </tr>
                            stt++;
                            <!-- Modal Update-->
                            <div class="modal fade" id="@idEx1" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhập Booking</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="/AdminBooking/Update" class="register-form" id="register-form">
                                                <input type="hidden" class="form-control" id="id" name="idBooking" value="@item.idBooking">

                                                <div class="mb-3">
                                                    <label for="category-film"
                                                           class="col-form-label">Trạng thái:</label>
                                                    <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="status" required>
                                                        @if (item.status == 0)
                                                        {
                                                            <option selected value="0">Chờ xác nhận</option>
                                                            <option value="1">Đã xác nhận</option>
                                                            <option value="2">Đã hủy</option>
                                                        }
                                                        else if (item.status == 1)
                                                        {
                                                            <option selected value="1">Đã xác nhận</option>
                                                            <option value="3">Đã trả phòng</option>
                                                        }
                                                        else if (item.status == 3)
                                                        {
                                                            <option selected value="3">Đã trả phòng</option>
                                                        }
                                                        else
                                                        {
                                                            <option selected value="2">Đã hủy</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="category-film"
                                                           class="col-form-label">Thanh toán:</label>
                                                    <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="isPayment" required>
                                                        @if (item.isPayment)
                                                        {
                                                            <option selected value="true">Đã thanh toán</option>

                                                        }
                                                        else if (item.status == 2)
                                                        {
                                                            <option selected value="false">Chưa thanh toán</option>
                                                        }
                                                        else
                                                        {
                                                            <option selected value="false">Chưa thanh toán</option>
                                                            <option value="true">Đã thanh toán</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Đóng
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


