
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Danh sách dịch vụ</h4>

        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                    if (ViewBag.Msg == "2")
                    {
                        <div class="alert alert-danger">
                            <strong>Không thể xóa !</strong>
                        </div>
                    }
                }
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModalAdd">
                    Thêm mới
                </button>
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead style="color:#0d6efd ">
                        <tr style="background-color: darkgrey">
                            <th>STT</th>
                            <th>Tên dịch vụ</th>
                            <th>Giá dịch vụ</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ var stt = 1;}
                        @foreach (var item in ViewBag.List)
                        {
                        <tr>
                            <td style="width:10px">@stt</td>
                            <td>
                                @item.name
                            </td>
                            <td>
                                @item.cost
                            </td>
                            <td>
                                @{
                                    var idEx1 = "exampleModalLabel" + item.idService;
                                    var idModelDel = "exampleModalDel" + item.idService;
                                }
                                <button style="width:100px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#@idEx1">
                                    Sửa
                                </button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel" style="width:100px" class="btn btn-danger"> Xóa</button>
                                <div class="modal fade" id="@idModelDel" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                Dịch vụ : @item.name
                                                <form action="/AdminService/Delete" method="post">
                                                    <input type="hidden" class="form-control" id="id" name="idService" value="@item.idService">
                                                    <div class="modal-footer" style="margin-top: 20px">
                                                        <button style="width:100px" type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button style="width:100px" type="submit" class="btn btn-danger"> Xóa</button>
                                                    </div>
                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                            stt++;
                            <!-- Modal Update-->
                            <div class="modal fade" id="@idEx1" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhập dịch vụ</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="/AdminService/Update" class="register-form" id="register-form">
                                                <input type="hidden" class="form-control" id="id" name="idService" value="@item.idService">

                                                <div class="mb-3">
                                                    <label for="category-film"
                                                           class="col-form-label">Tên dịch vụ:</label>
                                                    <input type="text" class="form-control" id="category-film" value="@item.name" name="name" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="category-film"
                                                           class="col-form-label">Giá dịch vụ:</label>
                                                    <input type="number" class="form-control" id="category-film" value="@item.cost" name="cost" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Đóng
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="exampleModalAdd" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/AdminService/Add" class="register-form" id="register-form">
                    <div class="mb-3">
                        <label for="category-film"
                               class="col-form-label">Tên dịch vụ:</label>
                        <input type="text" class="form-control" id="category-film" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="category-film"
                               class="col-form-label">Giá dịch vụ:</label>
                        <input type="number" class="form-control" id="category-film" name="cost" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">Lưu </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

